.validationSection {
    min-height: 30vh;
}

.validationContainer {
    align-items: center;
    display: flex;
    min-height: 30vh;

    overflow: hidden;


}

/* .validationContainer[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 95%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 95%, transparent);
} */

.reviewListUl {
    animation: reviewScroll linear infinite;
    display: flex;
    flex-wrap: nowrap;
    gap: 3rem;
    padding-block: 1rem;
    width: max-content;

}

.reviewListUl:hover {
    animation-play-state: paused;
}


.reviewBox {
    background-color: var(--primary-bg-color);
    border-radius: 10px;
    color: var(--light-font-color);
    font-family: 'Poppins';
    font-size: clamp(.75rem, .85rem, 6vw);
    height: clamp(11rem, 13rem, 40vw);
    width: clamp(22rem, 25rem, 40vw);

    padding: .75rem 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    box-shadow: var(--primary-box-shadow);

}


.reviewBox .custReview {
    color: var(--highlighter-color);
    text-align: justify;
}

.nameLocationContainer {
    display: flex;
    gap: .50rem;
    margin-top: .5rem;
}

.nameLocationContainer .custName {
    font-weight: 600;
    ;
}

@keyframes reviewScroll {
    to {
        transform: translate(-100%)
    }
}