.logo {

    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.logoTop {
    color: var(--light-font-color);
    cursor: pointer;
    font-size: 2.5rem;
    margin-bottom: -.75rem;


}

.logoBottom {
    color: var(--light-font-color);
    cursor: pointer;
    font-size: 1.15rem;
    letter-spacing: .75rem;
    font-weight: 100;


}